name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4
      with:
        path: |
          .spago
          output
          node_modules
        key: build-atrifacts-v3-${{ hashFiles('package-lock.json', 'spago.yaml', 'spago.lock') }}
    - uses: actions/setup-node@v4
      with:
        node-version: 24.13.0
    - run: npm i
    - run: npm run build

